@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: "Rubik", serif;

}

.home{
    background: linear-gradient(90deg, #17ead9, #6078ea);
    color: #fff;
    text-align: center;
    position: relative;
    height: 100vh; 
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Logo */
.logo {
    font-size: 16px; 
    font-weight: bold;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    position: absolute; 
    left: 60px; 
    top: 30px;
}

.logo span {
    color: #fff;
}

/* Navegación menú */
nav {
    position: absolute;
    top: 20px;
    right: 30px;
    align-items: center;
}

.menu {
    list-style: none;
    padding: 10px;
    margin: 0;
    display: flex;
    gap: 20px;
}

.menu li a {
    text-decoration: none;
    color:white;
    font-size: 16px;
    transition: color 0.3s;
    font-weight: lighter;
}
.menu li a:hover{
    color: white;
}
.menu li a:visited{
    color: white;
}
.menu li a:active{
    color: white;
}

/* Sign-Up Button */
.singUp a {
    padding: 10px 15px;
    background-color: transparent;
    border: 1px solid #ecedee;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
    color: #6078ea;
}

.singUp a:hover {
    background-color: white;
    color: #6078ea;
}

/* Banner Text */
.Textobanner {
    text-align: center;
}

.Textobanner h1 {
    font-size: 53px;
    line-height: 1.15;
    font-weight: 300;
    margin-top: 0;
    align-items: center;
}

.Textobanner h2 {
    font-size: 19px;
    font-weight: 300;
    color: #ecedee;
    line-height: 1.55;
}

.Textobanner h2 a {
    color: white;
    text-decoration: none;
}

.Textobanner h2 a:hover {
    color: #ecedee;
}

.Textobanner.video {
    margin-top: 20px;
}

.Textobanner .video a {
    font-size: 18px;
    color: white;
    text-decoration: none;
    padding-bottom: 5px;
    transition: all 0.35s ease;
    font-weight: lighter;
    display: inline-flex;
    align-items:center;
    gap: 5px;
}

.Textobanner .video a i {
    transition: transform 0.35s ease;
}

.Textobanner.video a:hover {
    transform: translateX(-5px);
}

.Textobanner .video a:hover i {
    transform: translateX(10px); 
}

.container_1 {
    justify-content: center;
    display: flex;
    align-items: center;
    background: #e9e9e9;
    height: 80vh;
    width: 100%;
    flex-direction: column;
}
.container_col{
    width: 860px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: -160px;
    margin-bottom: 70px;
    
}

.col1, .col2, .col3 {
    background-color: white;
    border-radius: 0px;
    padding: 25px;
    width: 220px;
    z-index: 8;
}

 .container_col i {
        font-size: 40px;
        color: #6078ea;
        margin-bottom: 30px;
        padding: 20px 20px 0px 20px;
}

h3 {
    font-size: 1.266em;
    color: #333;
    font-weight:lighter;
}

p {
    font-size: 14px;
    color: #666;
    font-weight:lighter;
    text-align: center;
}


button {
    padding: 20px 110px;
    font-size: 15px;
    font-weight: bolder;
    background-color: #6078ea;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    align-items: center;
}


button:hover {
    background-color:#17ead9;
}


.container_2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 0px 50px 40px;
    background-color: #fff; 
    max-width: 100%; 
    margin: 0 auto;
}


.Textoestadistica1 {
    width: 100%;
    color: #333; 
    line-height: 1.5;
    padding-right: 10px; 

}

.Textoestadistica1 h2 {
    font-size: 27px;
    font-weight: lighter;
    margin: 50px 0px 0px 155px;
    color: #4d4c4c; /* Texto negro */
}

.Textoestadistica1 p {
    margin:10px 20px 20px 160px;
    font-size: 13px;
    font-weight: lighter;
    color: #7e8890;
    line-height: 1.6;
    text-align: justify;
}


.logo-uber img {
    width: 40px; 
    margin: 0px 0px 0px 120px;
}


.persona_1 img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
    vertical-align: middle;
}

.img-Estadistica1 img {
    width: 730px;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-left: 30px;
}


.imagenTexto1 {
    display: flex;
    align-items: flex-start;
    gap: 40px;
}

.img-Estadistica1 {
    display: flex;
    justify-content: flex-end; 
    flex: 1;
}

.container_3 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 120px 0px 120px 10px;
    background-color: #fff; 
    max-width: 100%; 
    margin: 0 auto;
}


.Textoestadistica2 {
    width: 100%;
    color: #333;
    line-height: 1.5;
    padding: 0px; 

}

.Textoestadistica2 h2 {
    font-size: 27px;
    font-weight: lighter;
    margin: 30px 135px 0px 35px;
    color: #4d4c4c; 
}

.Textoestadistica2 p {
    margin: 10px 200px 10px 40px;
    font-size: 13px;
    font-weight: lighter;
    color: #7e8890;
    line-height: 1.6;
    text-align: justify;
}


.logo-facebook img {
    width: 70px;
    margin: 0px 100px 0px 0px;
}

.person_2 img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
    vertical-align: middle;
}


.imgEstadistica2 img {
    width: 730px; 
    height: auto;
    margin-right: 20px;
}


.imagenTexto2 {
    display: flex;
    align-items: flex-start;
    gap: 30px;
}
.container_4 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 0px 50px 40px;
    background-color: #fff; 
    max-width: 100%; 
    margin: 0 auto; 
}


.Textoestadistica3 {
    width: 100%;
    color: #333; 
    line-height: 1.5;
    padding-right: 10px; 
}

.Textoestadistica3 h2 {
    font-size: 27px;
    font-weight: lighter;
    margin: 0px 15px 0px 155px;
    color: #4d4c4c; 
}

.Textoestadistica3 p {
    margin:10px 20px 20px 160px;
    font-size: 13px;
    font-weight: lighter;
    color: #7e8890;
    line-height: 1.6;
    text-align: justify;
}


.logo-twiter img {
    width: 20px;
    margin: 0px 0px 0px 120px;
}


.person_3 img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
    vertical-align: middle;
}


.Img-estadistica3 img {
    width: 730px; 
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-left: 30px;
}


.imagenTexto3 {
    display: flex;
    align-items: flex-start;
    gap: 40px;
}
.Img-estadistica3 {
    display: flex;
    justify-content: flex-end; 
    flex:1;
}




/* Estilos generales */
.container_5 {
    background-color: #6078ea;
    color: white;
    text-align: center;
    padding: 72px 0px 126px;
    font-size: 18px;
    font-weight: 300;
    line-height: 1.8;
    

}

.texto h1 {
    font-size:2.074em;
    margin-bottom: 10px;
    font-weight: lighter;
}


.texto p {
    font-size: 1.125em;
    line-height: 1.65;
    max-width: 700px;
    margin: 0 auto 40px;
    opacity: 0.8;
    color: white;
    
}

/* Contenedor de información */
.info-cont {
    display: grid;
    flex-wrap: wrap;
    font-weight: lighter;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    gap: 20px;
    padding: 90px 200px 90px 200px;
    color: #6078ea;
    gap: 10px;
}



.col {
    border-radius: 10px;
    padding: 20px;
    width: 300px;
    text-align: left;
}

.col h3 {
    display: flex;
    align-items: center;
    font-size: 16px;
    margin-bottom: 10px;
    color: white;
}

.col h3 i {
    margin-right: 10px;
    font-size: 1.4em;
    color: white;
}

.col p {
    font-size: 16px;
    opacity: 0.9;
    color: white;
    text-align: justify;
}

/* Colores de los íconos */
.col:nth-child(1) h3 i { color: #17EAD9; } 
.col:nth-child(2) h3 i { color: #17EAD9; } 
.col:nth-child(3) h3 i { color: #17EAD9; } 
.col:nth-child(4) h3 i { color: #17EAD9; } 
.col:nth-child(5) h3 i { color: #17EAD9; } 
.col:nth-child(6) h3 i { color: #17EAD9; } 

@media (max-width: 768px) {
    .info-cont {
        flex-direction: column;
        align-items: center;
    }
}